<div class="sub-container">
  <% if @account.creative_developments.empty? %>
    <p>No current creative developments</p>
  <% else %>
    <div class="table-scrollable">
      <table class="table table-hover table-light">
        <thead>
          <tr>
            <th>Design Name</th>
            <th>Requested</th>
            <th>Completed</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @account.creative_developments.each do |cd| %>
            <tr id="creative_development_<%= cd.id %>">
              <td><%= cd.design_name %></td>
              <td><%= cd.requested %></td>
              <td>
                <%= best_in_place cd,
                      :completed,
                      as: :checkbox,
                      collection: {
                        false: fa_icon('circle-o'),
                        true: fa_icon('check-circle-o') },
                      url: account_creative_development_path(@account, cd) %>
              </td>
              <td>
                <%= link_to 'Edit', edit_account_creative_development_path(@account, cd), class: 'btn green btn-xs' %>
                <%= link_to 'Delete', account_creative_development_path(@account, cd), data: { method: :delete, remote: true, confirm: 'Are you sure you want to delete this creative development?' }, class: 'btn red btn-xs' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <%= link_to 'Add a Creative Development', new_account_creative_development_path(@account), class: 'btn green-meadow btn-med inline-btn' %>
</div>
