<%= form_for([@account, @creative_development]) do |f| %>
  <% if @creative_development.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@creative_development.errors.count, "error") %> prohibited this creative_development from being saved:</h2>

      <ul>
      <% @creative_development.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :design_name, "Design Name" %>
    <div class="input-group">
      <%= f.text_field :design_name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :requested, "Requested" %>
    <div class="input-group">
      <%= f.date_field :requested %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit (f.object.new_record? ? "Add Creative Development" : "Update Creative Development"), class: 'btn green-meadow' %>
    <%= link_to 'Cancel', :back, class: 'btn grey-silver' %>
  </div>
<% end %>
