<p id="notice"><%= notice %></p>

<ul class="nav nav-tabs">
  <li class="active"><a href="#tab_1" data-toggle="tab">Overview</a></li>
  <li><a href="#tab_2" data-toggle="tab">Client</a></li>
  <li><a href="#tab_3" data-toggle="tab">Channels</a></li>
  <li class="dropdown">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
      Messaging Timelines
      <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="#tab_4" tabindex="-1" data-toggle="tab">Quarterly</a>
      </li>
      <li>
        <a href="#tab_5" tabindex="-1" data-toggle="tab">Monthly</a>
      </li>
    </ul>
  </li>
  <li><a href="#tab_6" data-toggle="tab">Client Requests</a></li>
  <li><a href="#tab_7" data-toggle="tab">Tasks</a></li>
  <li><a href="#tab_8" data-toggle="tab">Creative Developments</a></li>
  <li><a href="#tab_9" data-toggle="tab">Correspondence</a></li>
  <li><a href="#tab_10" data-toggle="tab"> Notes</a></li>
</ul>

<h2 class="inline"><%= @account.name %></h2>
<div class="tab-content">
  <div class="tab-pane fade active in" id="tab_1"><%= render 'accounts/show/overview' %></div>
  <div class="tab-pane fade" id="tab_2"><%= render 'accounts/show/client' %></div>
  <div class="tab-pane fade" id="tab_3"><%= render 'accounts/show/channels' %></div>
  <div class="tab-pane fade" id="tab_4"><%= render 'accounts/show/messaging_timeline_quarterly' %></div>
  <div class="tab-pane fade" id="tab_5"><%= render 'accounts/show/messaging_timeline_monthly' %></div>
  <div class="tab-pane fade" id="tab_6"><%= render 'accounts/show/client_requests' %></div>
  <div class="tab-pane fade" id="tab_7"><%= render 'accounts/show/tasks' %></div>
  <div class="tab-pane fade" id="tab_8"><%= render 'accounts/show/creative_developments' %></div>
  <div class="tab-pane fade" id="tab_9"><%= render 'accounts/show/correspondence' %></div>
  <div class="tab-pane fade" id="tab_10"><%= render 'accounts/show/notes' %></div>
  <div class="tab-pane fade" id="tab_11"><%= render 'accounts/show/reports' %></div>
</div>
