<p id="notice"><%= notice %></p>

<h2>Account</h2>

<strong>Name:</strong> <%= @account.name%><br>

<strong>Client:</strong> <%= @account.client %><br>

<strong>Services:</strong> <%= @account.services %><br>

<strong>Instagram:</strong> <%= @account.instagram %><br>

<strong>Facebook:</strong> <%= @account.facebook %><br>

<strong>Yelp:</strong> <%= @account.yelp %><br>

<strong>Slique_email:</strong> <%= @account.slique_email %><br>

<strong>Pr_partner:</strong> <%= @account.pr_partner %><br>

<strong>Ubest:</strong> <%= @account.ubest %><br>

<strong>Five Star Boss:</strong> <%= @account.fivestarboss %><br>

<strong>Facebook_ad:</strong> <%= @account.facebook_ad %><br>

<strong>Facebook Ad Notes:</strong> <%= @account.facebook_ad_notes %><br>

<strong>Correspondence:</strong> <%= @account.correspondence %><br>

<strong>Messaging Timeline Q1:</strong> <%= @account.messaging_timeline_q1 %><br>

<strong>Messaging Timeline Q2:</strong> <%= @account.messaging_timeline_q2 %><br>

<strong>Messaging Timeline Q3:</strong> <%= @account.messaging_timeline_q3 %><br>

<strong>Messaging Timeline Q4:</strong> <%= @account.messaging_timeline_q4 %><br>

<strong>Priorities:</strong> <%= @account.priorities %><br>

<strong>Promotions:</strong> <%= @account.promotions %><br>

<strong>Notes:</strong> <%= @account.notes %><br>

<h2>Tasks</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Requested</th>
    <th>Completed</th>
  </tr>
  <% @account.tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.requested %></td>
      <td><%= task.completed.humanize %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Task', new_account_task_path(@account) %>

<h2>Creative Developments</h2>

<table>
  <tr>
    <th>Design Name</th>
    <th>Requested</th>
    <th>Completed</th>
  </tr>
<% @account.creative_developments.each do |cd| %>
    <tr>
      <td><%= cd.design_name %></td>
      <td><%= cd.requested %></td>
      <td><%= cd.completed.humanize %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Creative Development', new_account_creative_development_path(@account) %>

<br><br>

<%= link_to 'Edit', edit_account_path(@account) %>
