<p id="notice"><%= notice %></p>

Name: <%= @account.name%><br>

Client: <%= @account.client %><br>

Services: <%= @account.services %><br>

Instagram: <%= @account.instagram %><br>

Facebook: <%= @account.facebook %><br>

Yelp: <%= @account.yelp %><br>

Slique_email: <%= @account.slique_email %><br>

Pr_partner: <%= @account.pr_partner %><br>

Ubest: <%= @account.ubest %><br>

Five Star Boss: <%= @account.fivestarboss %><br>

Facebook_ad: <%= @account.facebook_ad %><br>

Facebook_ad_notes: <%= @account.facebook_ad_notes %><br>

Correspondence: <%= @account.correspondence %><br>

Messaging_timeline_q1: <%= @account.messaging_timeline_q1 %><br>

Messaging_timeline_q2: <%= @account.messaging_timeline_q2 %><br>

Messaging_timeline_q3: <%= @account.messaging_timeline_q3 %><br>

Messaging_timeline_q4: <%= @account.messaging_timeline_q4 %><br>

Priorities: <%= @account.priorities %><br>

Promotions: <%= @account.promotions %><br>

Notes: <%= @account.notes %><br>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
