<p id="notice"><%= notice %></p>

<h2 class="inline"><%= @account.name %></h2>

<div class="sub-container">
  <div class="table-scrollable">
    <table class="table table-bordered table-hover">
      <tbody>
        <tr>
          <th scope="row">Client</th>
          <td><%= @account.client %></td>
        </tr>
        <tr>
          <th scope="row">Slique Email</th>
          <td><%= @account.slique_email %></td>
        </tr>
        <tr>
          <th scope="row">Services</th>
          <td><%= @account.services %></td>
        </tr>
        <tr>
          <th scope="row">Pr Partner</th>
          <td><%= @account.pr_partner %></td>
        </tr>
        <tr>
          <th scope="row">Ubest</th>
          <td><%= @account.ubest.humanize %></td>
        </tr>
        <tr>
          <th scope="row">Five Star Boss</th>
          <td><%= @account.fivestarboss.humanize %></td>
        </tr>
        <tr>
          <th scope="row">Facebook Ads</th>
          <td><%= @account.facebook_ad.humanize %></td>
        </tr>
        <tr>
          <th scope="row">Facebook Ad Notes</th>
          <td><%= @account.facebook_ad_notes %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="sub-container">
  <h2 class="inline">Channels</h2>
  <div class="table-scrollable">
    <table class="table table-hover table-light">
      <thead>
        <tr>
          <th>Name</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Facebook</td>
          <td><%= simple_format(@account.facebook) %></td>
        </tr>
        <tr>
          <td>Instagram</td>
          <td><%= simple_format(@account.instagram) %></td>
        </tr>
        <tr>
          <td>Yelp</td>
          <td><%= simple_format(@account.yelp) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="sub-container">
  <h2 class="inline">Messaging Timeline</h2>
  <div class="table-scrollable">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Messaging Timeline Q1</th>
          <th>Messaging Timeline Q2</th>
          <th>Messaging Timeline Q3</th>
          <th>Messaging Timeline Q4</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= simple_format(@account.messaging_timeline_q1) %></td>
          <td><%= simple_format(@account.messaging_timeline_q2) %></td>
          <td><%= simple_format(@account.messaging_timeline_q3) %></td>
          <td><%= simple_format(@account.messaging_timeline_q4) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="sub-container">
  <h2 class="inline">Current Strategy and Objectives</h2>
  <div class="table-scrollable">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Priorities</th>
          <th>Promotions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= simple_format(@account.priorities) %></td>
          <td><%= simple_format(@account.promotions) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="sub-container">
  <h2 class="inline">Tasks</h2><%= link_to 'Add', new_account_task_path(@account), class: 'btn green-meadow btn-xs inline-btn' %>

  <% if @account.tasks.empty? %>
    <p>No tasks yet.</p>
  <% else %>
    <div class="table-scrollable">
      <table class="table table-hover table-light">
        <thead>
          <tr>
            <th>Name</th>
            <th>Requested</th>
            <th>Completed</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @account.tasks.each do |task| %>
            <tr>
              <td><%= task.name %></td>
              <td><%= task.requested %></td>
              <td>
                <%= best_in_place task,
                      :completed,
                      as: :checkbox,
                      collection: {
                        false: fa_icon('circle-o'),
                        true: fa_icon('check-circle-o') },
                      url: account_task_path(@account, task) %>
              </td>
              <td>
                <%= link_to 'Edit', edit_account_task_path(@account, task), class: 'btn green btn-xs' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<div class="sub-container">
  <h2 class="inline">Creative Developments</h2><%= link_to 'Add', new_account_creative_development_path(@account), class: 'btn green-meadow btn-xs inline-btn' %>

  <% if @account.creative_developments.empty? %>
    <p>No creative developments yet.</p>
  <% else %>
    <div class="table-scrollable">
      <table class="table table-hover table-light">
        <thead>
          <tr>
            <th>Design Name</th>
            <th>Requested</th>
            <th>Completed</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @account.creative_developments.each do |cd| %>
            <tr>
              <td><%= cd.design_name %></td>
              <td><%= cd.requested %></td>
              <td>
                <%= best_in_place cd,
                      :completed,
                      as: :checkbox,
                      collection: {
                        false: fa_icon('circle-o'),
                        true: fa_icon('check-circle-o') },
                      url: account_creative_development_path(@account, cd) %>
              </td>
              <td>
                <%= link_to 'Edit', edit_account_creative_development_path(@account, cd), class: 'btn green btn-xs' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<div class="sub-container">
  <h2 class="inline">Correspondence</h2>
  <div class="table-scrollable">
    <table class="table table-bordered table-hover">
      <tbody>
        <tr>
          <th scope="row">Correspondence</th>
          <td><%= @account.correspondence %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="sub-container">
  <h2 class="inline">Notes</h2>
  <div class="table-scrollable">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= simple_format(@account.notes) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="sub-container">
  <h2 class="inline">Reports (Beta)</h2><%= link_to 'Add', new_account_creative_development_path(@account), class: 'btn green-meadow btn-xs inline-btn' %>

  <div class="table-scrollable">
    <table class="table table-hover table-light">
      <thead>
        <tr>
          <th>Date</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= Date.yesterday %></td>
          <td><%= link_to 'Report', 'http://forestry.sfasu.edu/faculty/stovall/silviculture/images/textbook/report_example_full2.png' %></td>
        </tr>
        <tr>
          <td><%= Date.tomorrow %></td>
          <td><%= link_to 'Report', 'http://forestry.sfasu.edu/faculty/stovall/silviculture/images/textbook/report_example_full2.png' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Edit Account', edit_account_path(@account), class: 'btn green-meadow btn-lg inline-btn' %>